---
---
<div class="publication-card" data-selected="{{ entry.selected | default: 'false' }}">
  <!-- Entry bib key -->
  <div id="{{ entry.key }}" class="publication-content">
    <div class="citation-line">
      {%- capture author_output -%}<span class="author">
      {% assign author_array_size = entry.author_array | size %}

      {% assign author_array_limit = author_array_size %}
      {% if site.max_author_limit and author_array_size > site.max_author_limit %}
        {% assign author_array_limit = site.max_author_limit %}
      {% endif %}

      {%- for author in entry.author_array limit: author_array_limit -%}
        {% assign author_is_self = false %}
        {%- assign author_last_name = author.last | regex_replace: '[*∗†‡§¶‖&^]', '' -%}
        {%- assign author_last_html = author.last | regex_replace: '([*∗†‡§¶‖&^]+)', '<sup>\1</sup>' -%}
        {% if site.scholar.last_name contains author_last_name %}
          {% if site.scholar.first_name contains author.first %}
            {% assign author_is_self = true %}
          {% endif %}
        {%- endif -%}
        {% assign coauthor_url = null %}
        {%- assign clean_last_name = author_last_name | downcase | remove_accents -%}
        {% if site.data.coauthors[clean_last_name] %}
          {%- for coauthor in site.data.coauthors[clean_last_name] -%}
            {% if coauthor.firstname contains author.first %}
              {%- assign coauthor_url = coauthor.url -%}
              {% break %}
            {%- endif -%}
          {% endfor %}
        {%- endif -%}

        {%- if forloop.length > 1 -%}
          {% if forloop.first == false -%}
            {%- if forloop.length > 2 %}, {% elsif forloop.length == 2 %}  {% endif %}
          {%- endif %}
          {%- if forloop.last and author_array_limit == author_array_size %}and {% endif -%}
        {% endif %}
        {% assign author_first_parts = author.first | split: ' ' %}
        {% capture author_initials %}{% for first_part in author_first_parts %}{% assign clean_first_part = first_part | strip %}{% if clean_first_part != '' %}{% assign hyphen_parts = clean_first_part | split: '-' %}{% for hyphen_part in hyphen_parts %}{% assign clean_hyphen_part = hyphen_part | strip %}{% if clean_hyphen_part != '' %}{{ clean_hyphen_part | slice: 0 | upcase }}.{% endif %}{% unless forloop.last %}-{% endunless %}{% endfor %} {% endif %}{% endfor %}{% endcapture %}
        {% capture author_name %}{{ author_initials | strip }} {{ author_last_html }}{% endcapture %}
        {%- if author_is_self -%}
          <strong>{{ author_name | strip }}</strong>
        {%- else -%}
          {%- if coauthor_url -%}
            <a href="{{ coauthor_url }}">{{ author_name | strip }}</a>
          {%- else -%}
            {{- author_name | strip -}}
          {% endif %}
        {%- endif -%}
      {% endfor %}
      {%- assign more_authors = author_array_size | minus: author_array_limit -%}

      {%- assign more_authors_hide = more_authors | append: ' more author' -%}
      {% if more_authors > 0 %}
        {%- if more_authors > 1 -%}
          {% assign more_authors_hide = more_authors_hide | append: 's' %}
        {%- endif -%}
        {% assign more_authors_show = '' %}
        {%- for author in entry.author_array offset: author_array_limit -%}
          {% assign author_first_parts = author.first | split: ' ' %}
          {% capture author_initials %}{% for first_part in author_first_parts %}{% assign clean_first_part = first_part | strip %}{% if clean_first_part != '' %}{% assign hyphen_parts = clean_first_part | split: '-' %}{% for hyphen_part in hyphen_parts %}{% assign clean_hyphen_part = hyphen_part | strip %}{% if clean_hyphen_part != '' %}{{ clean_hyphen_part | slice: 0 | upcase }}.{% endif %}{% unless forloop.last %}-{% endunless %}{% endfor %} {% endif %}{% endfor %}{% endcapture %}
          {% capture more_author_name %}{{ author_initials | strip }} {{ author.last }}{% endcapture %}
          {% assign more_authors_show = more_authors_show | append: more_author_name | strip %}
          {% unless forloop.last %}
            {% assign more_authors_show = more_authors_show | append: ', ' %}
          {% endunless %}
        {%- endfor -%}
        {%- assign more_authors_show = more_authors_show | regex_replace: '([*∗†‡§¶‖&^]+)', '<sup>\1</sup>' -%}
        , and
        <span
          class="more-authors"
          title="click to view {{ more_authors_hide }}"
          onclick="
              var element = $(this);
              element.attr('title', '');
              var more_authors_text = element.text() == '{{ more_authors_hide }}' ? '{{ more_authors_show }}' : '{{ more_authors_hide }}';
              var cursorPosition = 0;
              var textAdder = setInterval(function(){
                element.html(more_authors_text.substring(0, cursorPosition + 1));
                if (++cursorPosition == more_authors_text.length){
                  clearInterval(textAdder);
                }
            }, '{{ site.more_authors_animation_delay }}');
          "
        >
          {{- more_authors_hide -}}
        </span>
      {% endif %}
      {%- assign annotation_text = entry.annotation | default: '' | downcase | replace: '*', '' | strip -%}
      {%- if entry.annotation and annotation_text != 'equal contribution' -%}
        <i
          class="fa-solid fa-circle-info ml-1"
          data-toggle="popover"
          data-placement="top"
          data-html="true"
          data-content="{{ entry.annotation | escape }}"
        >
        </i>
      {%- endif -%}</span>{%- endcapture -%}
      {%- assign proceedings = 'inproceedings,incollection' | split: ',' -%}
      {%- assign thesis = 'thesis,mastersthesis,phdthesis' | split: ',' -%}
      {% if entry.type == 'article' %}
        {% capture entrytype %}<em>{{ entry.journal }}</em>{% endcapture %}
      {% elsif proceedings contains entry.type %}
        {% capture entrytype %}<em>{{ entry.booktitle }}</em>{% endcapture %}
      {% elsif thesis contains entry.type %}
        {% capture entrytype %}<em>{{ entry.school }}</em>{% endcapture %}
      {% else %}
        {% capture entrytype %}{% endcapture %}
      {% endif %}
      {% assign entrymonth = '' %}
      {% if entry.month %}
        {% capture entrymonth %}{{ entry.month | capitalize }} {% endcapture %}
      {% endif %}
      {% assign entryyear = '' %}
      {% if entry.year %}
        {% capture entryyear %}{{ entry.year }}{% endcapture %}
      {% endif %}
      {% if entry.location %}
        {% capture entrytype %}{{ entrytype }}{{ ", " }}{{ entry.location }}{% endcapture %}
      {% endif -%}
      {% if entry.additional_info %}
        {% capture entrytype %}{{ entrytype }}{{ ", " }}{{ entry.additional_info | markdownify | remove: '<p>' | remove: '</p>' }}{% endcapture %}
      {% endif %}
      {% assign year_rendered_in_venue = false %}
      {% if entry.abbr and entry.year %}
        {% capture abbr_with_year %}({{ entry.abbr }} {{ entry.year }}){% endcapture %}
        {% capture abbr_without_year %}({{ entry.abbr }}){% endcapture %}
        {% assign original_entrytype = entrytype %}
        {% assign entrytype = entrytype | replace: abbr_without_year, abbr_with_year %}
        {% if entrytype != original_entrytype %}
          {% assign year_rendered_in_venue = true %}
        {% endif %}
      {% endif %}
      {% if entry.year and year_rendered_in_venue == false and entrytype != blank %}
        {% assign original_entrytype = entrytype %}
        {% capture trailing_paren_with_year %} {{ entry.year }}){% endcapture %}
        {% assign entrytype = entrytype | replace: ')</em>', trailing_paren_with_year | append: '</em>' %}
        {% if entrytype == original_entrytype %}
          {% capture entrytype %}{{ entrytype | replace: '</em>', ' ' | append: entry.year | append: '</em>' }}{% endcapture %}
        {% endif %}
        {% assign year_rendered_in_venue = true %}
      {% endif %}
      {% capture hook_exists %}{% file_exists _includes/hook/bib.liquid %}{% endcapture %}
      {% if hook_exists == 'true' %}
        {% include hook/bib.liquid %}
      {% endif %}
      {% assign entrytype_text = entrytype | strip_html | strip %}
      {%- if year_rendered_in_venue -%}{% assign entryyear = '' %}{%- endif -%}
      {% assign entry_doi_id = entry.doi | default: '' | replace: 'https://doi.org/', '' | replace: 'http://doi.org/', '' | replace: 'https://dx.doi.org/', '' | replace: 'http://dx.doi.org/', '' %}
      {% assign entry_arxiv_id = entry.arxiv | default: '' | replace: 'https://arxiv.org/abs/', '' | replace: 'http://arxiv.org/abs/', '' | replace: 'https://arxiv.org/pdf/', '' | replace: 'http://arxiv.org/pdf/', '' | replace: '.pdf', '' %}
      {% assign entry_hal_id = entry.hal | default: '' | replace: 'https://hal.science/', '' | replace: 'http://hal.science/', '' %}
      {%- capture venue_output -%}
        {%- if entrytype_text != '' -%}<span class="venue">{{ entrytype }}</span>{%- endif -%}
        {%- if entrymonth != '' or entryyear != '' -%}<span class="year">{{ entrymonth }}{{ entryyear }}.</span>{%- endif -%}
      {%- endcapture -%}
      {{ author_output | strip }}. <span class="title">{{ entry.title }}</span>{% if entrytype_text != '' or entrymonth != '' or entryyear != '' %}. {{ venue_output | strip }}{% endif %}

      <span class="links">
      {% if entry.award %}
        <a class="award btn btn-sm z-depth-0" role="button">
          [{%- if entry.award_name %}{{ entry.award_name | downcase }}{% else %}award{% endif -%}]
        </a>
      {% endif %}
      {% if entry.abstract %}
        <a class="abstract btn btn-sm z-depth-0" role="button">[abs]</a>
      {% endif %}
      {% if entry.doi %}
        <a href="{{ entry.doi }}" class="btn btn-sm z-depth-0" role="button">[doi]</a>
      {% endif %}
      {% if entry.arxiv %}
        <a href="{{ entry.arxiv }}" class="btn btn-sm z-depth-0" role="button">[arxiv]</a>
      {% endif %}
      {% if entry.hal %}
        <a href="{{ entry.hal }}" class="btn btn-sm z-depth-0" role="button">[hal]</a>
      {% endif %}
      {% if entry.bibtex_show %}
        <a class="bibtex btn btn-sm z-depth-0" role="button">[bib]</a>
      {% endif %}
      {% if entry.html %}
        <a href="{{ entry.html }}" class="btn btn-sm z-depth-0" role="button">[html]</a>
      {% endif %}
      {% if entry.paper %}
        <a href="{{ entry.paper }}" class="btn btn-sm z-depth-0" role="button">[paper]</a>
      {% endif %}
      {% if entry.pdf %}
        <a href="{{ entry.pdf }}" class="btn btn-sm z-depth-0" role="button">[pdf]</a>
      {% endif %}
      {% if entry.supp %}
        <a href="{{ entry.supp }}" class="btn btn-sm z-depth-0" role="button">[supp]</a>
      {% endif %}
      {% if entry.video and site.enable_video_embedding %}
        <a class="abstract btn btn-sm z-depth-0" role="button">[video]</a>
      {% elsif entry.video %}
        <a href="{{ entry.video }}" class="btn btn-sm z-depth-0" role="button">[video]</a>
      {% endif %}
      {% if entry.blog %}
        <a href="{{ entry.blog }}" class="btn btn-sm z-depth-0" role="button">[blog]</a>
      {% endif %}
      {% if entry.code %}
        <a href="{{ entry.code }}" class="btn btn-sm z-depth-0" role="button">[code]</a>
      {% endif %}
      {% if entry.poster %}
        <a href="{{ entry.poster }}" class="btn btn-sm z-depth-0" role="button">[poster]</a>
      {% endif %}
      {% if entry.slides %}
        <a href="{{ entry.slides }}" class="btn btn-sm z-depth-0" role="button">[slides]</a>
      {% endif %}
      {% if entry.website %}
        <a href="{{ entry.website }}" class="btn btn-sm z-depth-0" role="button">[website]</a>
      {% endif %}
      </span>
    </div>

    {% if entry.note %}
      <div class="publication-note">{{ entry.note | strip }}</div>
    {% endif %}
    {% if site.enable_publication_badges %}
      {% assign entry_has_altmetric_badge = false %}
      {% if entry.altmetric and entry.altmetric != 'false' %}
        {% assign entry_has_altmetric_badge = true %}
      {% endif %}

      {% assign entry_has_dimensions_badge = false %}
      {% if entry.dimensions and entry.dimensions != 'false' %}
        {% assign entry_has_dimensions_badge = true %}
      {% endif %}

      {% assign entry_has_google_scholar_badge = false %}
      {% if entry.google_scholar_id %}
        {% assign entry_has_google_scholar_badge = true %}
      {% endif %}

      {% assign entry_has_inspirehep_badge = false %}
      {% if entry.inspirehep_id %}
        {% assign entry_has_inspirehep_badge = true %}
      {% endif %}
      {% if entry_has_altmetric_badge or entry_has_dimensions_badge or entry_has_google_scholar_badge or entry_has_inspirehep_badge %}
        <div class="badges">
          {% if site.enable_publication_badges.altmetric and entry_has_altmetric_badge %}
            <span
              class="altmetric-embed"
              data-badge-type="2"
              data-badge-popover="right"
              {% if entry.altmetric != blank and entry.altmetric != 'true' %}
                data-altmetric-id="{{ entry.altmetric }}"
              {% elsif entry_arxiv_id != '' %}
                data-arxiv-id="{{ entry_arxiv_id }}"
              {% elsif entry.eprint %}
                data-arxiv-id="{{ entry.eprint }}"
              {% elsif entry_doi_id != '' %}
                data-doi="{{ entry_doi_id }}"
              {% elsif entry.pmid %}
                data-pmid="{{ entry.pmid }}"
              {% elsif entry.isbn %}
                data-isbn="{{ entry.isbn }}"
              {% endif %}
            ></span>
          {% endif %}
          {% if site.enable_publication_badges.dimensions and entry_has_dimensions_badge %}
            <span
              class="__dimensions_badge_embed__"
              {% if entry.dimensions != blank and entry.dimensions != 'true' %}
                data-id="{{ entry.dimensions }}"
              {% elsif entry_doi_id != '' %}
                data-doi="{{ entry_doi_id }}"
              {% else %}
                data-pmid="{{ entry.pmid }}"
              {% endif %}
              data-style="small_rectangle"
              data-legend="hover-right"
              style="margin-bottom: 3px;"
            ></span>
          {% endif %}
          {% if site.enable_publication_badges.google_scholar and entry_has_google_scholar_badge %}
            <a
              href="https://scholar.google.com/citations?view_op=view_citation&hl=en&user={{ site.data.socials.scholar_userid }}&citation_for_view={{ site.data.socials.scholar_userid }}:{{ entry.google_scholar_id }}"
              aria-label="Google Scholar link"
              role="button"
            >
              {% assign citation_count = 0 %}
              {% assign scholar_id_key = site.scholar_userid | append: ':' | append: entry.google_scholar_id %}
              {% assign publication_key = entry.google_scholar_id %}

              {% if site.data.citations.papers[scholar_id_key] %}
                {% assign citation_count = site.data.citations.papers[scholar_id_key].citations %}
              {% elsif site.data.citations.papers[publication_key] %}
                {% assign citation_count = site.data.citations.papers[publication_key].citations %}
              {% else %}
                {% for paper in site.data.citations.papers %}
                  {% assign paper_key = paper[0] %}
                  {% if paper_key contains entry.google_scholar_id %}
                    {% assign citation_count = paper[1].citations %}
                    {% break %}
                  {% endif %}
                {% endfor %}
              {% endif %}

              <img
                src="https://img.shields.io/badge/scholar-{{ citation_count }}-4285F4?logo=googlescholar&labelColor=beige"
                alt="{{ citation_count }} Google Scholar citations"
              >
            </a>
          {% endif %}
          {% if site.enable_publication_badges.inspirehep and entry_has_inspirehep_badge %}
            <a
              href="https://inspirehep.net/literature/{{ entry.inspirehep_id }}"
              aria-label="Inspirehep link"
              role="button"
            >
              <img
                src="https://img.shields.io/badge/inspire-{% inspirehep_citations entry.inspirehep_id %}-001628?logo=inspire&logoColor=001628&labelColor=beige"
                alt="{% inspirehep_citations entry.inspirehep_id %} InspireHEP citations"
              >
            </a>
          {% endif %}
        </div>
      {% endif %}
    {% endif %}

    {% if entry.award %}
      <!-- Hidden Award block -->
      <div class="award hidden d-print-inline">
        <p>{{ entry.award | markdownify }}</p>
      </div>
    {% endif %}

    {% if entry.abstract %}
      <!-- Hidden abstract block -->
      <div class="abstract hidden">
        <p>{{ entry.abstract }}</p>
      </div>
    {% endif %}

    {% if entry.bibtex_show %}
      <!-- Hidden bibtex block -->
      <div class="bibtex hidden">
        {% highlight bibtex %}
        {{- entry.bibtex | hideCustomBibtex -}}
        {% endhighlight %}
      </div>
    {% endif %}

    {% if entry.video and site.enable_video_embedding %}
      <!-- Hidden video block -->
      <div class="abstract hidden">
        <div style="text-align: center;">{% include video.liquid path=entry.video class="img-fluid rounded z-depth-1" controls=true %}</div>
      </div>
    {% endif %}
  </div>
</div>
